
{% extends 'base.html' %}

{% block content %}
<h1>Zeitgeist - Week {{weekdata[1]}} of {{weekdata[2]}}</h1>
<form hx-post="/invest" name="invest" hx-target="body">
<input type="radio" name="minutes" value="5" id="five">
<label for="five">5</label>
<input type="radio" name="minutes" value="10" id="ten">
<label for="ten">10</label>
<input type="radio" name="minutes" value="15" id="fifteen">
<label for="five">15</label>
<input type="radio" name="minutes" value="30" id="thirty">
<label for="thirty">30</label>
<input type="radio" name="minutes" value="45" id="fortyfive">
<label for="fortyfive">45</label>
<input type="radio" name="minutes" value="60" id="sixty">
<label for="sixty">60</label>
<br>
<br>
{%for bucket in buckets%}
<input type="radio" name="bucket" value="{{bucket[0]}}" id="{{bucket[1]}}">
<label for="{{bucket[1]}}">{{bucket[1]}}</label>
{%endfor%}
<br>
<br>
<button type="submit">Invest</button></from>
<hr>

<table>
    <tr>
      <th>Date</th>
      <th>Minutes</th>
      <th>Bucket</th>
    </tr>
{% for investment in investments %}
    <tr>
        <td>{{weekdata[0]}}</td>
        <td>{{investment[2]}}</td>
        <td>{{investment[3]}}</td>
      </tr>
{% endfor %}
</table>

{% endblock content %}